<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data") do %>
  <h4><%= _("Merge Articles") %></h4>
  <div class='class'>
    Article ID <%= text_field_tag :merge_with %>
  </div>
  <input id='merge_button' type="submit" value="<%= _('Merge') %>" name="merge_button" />
<% end %>
